<div class="table-commer target-commer">
    <div class="first-table">
        <h3>{{ commer.name }}</h3>
        <p id="nit-table">NIT: {{ commer.nit }}</p>

    </div>
    
    <div class="second-table">
        <p id="owner-table">{{ commer.owner }}</p>
        <p>SCHEDULE: {{ commer.schedule }}</p>
        <p>DAYS: {{ commer.days }}</p>
        <p>SALES: {{ commer.sales }}</p>
        <p id="adr-table">{{ commer.address }}</p>
        <p id="num-table">{{ commer.phone }}</p>
        <div class="clear-fix"></div>
    </div>
</div>
