/* =============================== */
/* COMMON STYLE */
/* =============================== */
html {
    height: 100%;
}
body {
    height: inherit;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* =============================== */
/* General table commer */
/* =============================== */
.table-commer-one {
    background: #668488;
    border-radius: 5px;
    color: #eee;
    box-shadow: 0px 0px 10px 4px #ccc;
}
.nit {
    color: rgb(241, 241, 241, 0.7);
}


.table-commer-two {
    background: #b9f1f8;
    border-radius: 5px;
    color: rgb(114, 114, 114);
    box-shadow: 0px 0px 10px 4px #ccc;
}
.owner-name {
    font-size: 20px;
    text-transform: uppercase;
}
.table-commer-two p {
    margin: 0;
}


/* =============================== */
/* Scroll table commer */
/* =============================== */
.scroll-table {
    border-radius: 5px;
    overflow-y: auto;
    max-height: 280px;
    box-shadow: 0px 0px 10px 4px #ccc;
}
.item-table:hover {
    background: #ccc;
    cursor: pointer;
}
/* Scroll style */
:root {
    --main-color: #6ccedb;
    --second-color: #cbf4fa;
    --back-color: #eee;
}
::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
}


/* =============================== */
/* Graph */
/* =============================== */
.graph-table {
    background: rgb(221, 221, 221);
    border-radius: 4px;
}


/* =============================== */
/* Map */
/* =============================== */
.map {
    margin: auto;
    height: 280px;
    box-shadow: 0px 0px 10px 4px #ccc;
    border-radius: 5px;
}


/* chart */

#map-pos {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}